<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3S6F1raN9AuPrPxZ4iDLm-iRTwUGZD1EWA&s" width="300"></center>
<br>

<h1>Cell terbagi menjadi</h1>
<ol>
    <li>Markdown</li>
    <li>Code</li>
</ol>

<h1>Cara menambahkan cell</h1>
<br>
<ul>
    <li>A = Menambahkan cell ke atas cell aktif</li>
    <li>B = Menambahkan cell ke Bawah cell aktif</li>
</ul>

<table>
    <tr>
        <td>Perintah</td>
        <td>Keterangan</td>
    </tr>
    <tr>
        <td>Ctrl + Enter</td>
        <td>Running Program Yang sedang fokus di cell aktif</td>
    </tr>
    <tr>
        <td>Shift + Ctrl + Enter</td>
        <td>Running Program di cell selanjutnya</td>
    </tr>
</table>

In [5]:
import random

number = random.randint(1, 10)

#Jumlah kesempatan
chance = 3

while(True):
    if(chance == 0):
        print("Kesempatan anda habis")
        break
    guess = int(input("Tebak Angka 1 - 10"))
    if(guess != number):
        if(guess < number):
            print("Tebakan Anda terlalu kecil")
            chance -= 1
        elif(guess > number):
            print("Tebakan Anda terlalu besar")
            chance -= 1
    else:
        print("tebakan anda benar")
        break

Tebak Angka 1 - 10 5

Tebakan Anda terlalu besar

Tebak Angka 1 - 10 2

Tebakan Anda terlalu besar

Tebak Angka 1 - 10 1

tebakan anda benar

In [88]:
Char = str(input("Cek Kata Palindrome"))
isPalindrome = False

for i in range(0,len(Char)):
    if (Char[i] != Char[len(Char) - i - 1 ]):
        print("Kata bukan Palindrome")
        break
    else:
        isPalindrome = True

if(isPalindrome == True):
    print("Kata adalah kata Palindrome")

Cek Kata Palindrome kasur rusak

Kata adalah kata Palindrome

In [103]:
student = [{
    "name":"kermit",
    "wife":["Elaina", "Astra Yao"]
},
          {
              "name":"keermit"
          }]
print(student)

[{'name': 'kermit', 'wife': ['Elaina', 'Astra Yao']}, {'name': 'keermit'}]

In [2]:
name = "Ilham"
address,province = "jl. RA Kosasih","123123123"
age = 19
scorePython = 100
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("score :",scorePython)
print("Status :",isMarried)
print("provinsi :",province)

Nama : Ilham
Alamat : jl. RA Kosasih
Umur : 19
score : 100
Status : False
provinsi : 123123123

In [3]:
print("tipe data nama       :",type(name))
print("tipe data Alamat     :",type(address))
print("tipe data Umur       :",type(age))
print("tipe data scorePython:",type(scorePython))
print("tipe data Status     :",type(isMarried))

tipe data nama       : <class 'str'>
tipe data Alamat     : <class 'str'>
tipe data Umur       : <class 'int'>
tipe data scorePython: <class 'int'>
tipe data Status     : <class 'bool'>

In [4]:
#casting Atau konvensi tipe data
#1. dari string ke boolean
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToBool,strToFloat,strToInt, sep=" ")
#2. interger ke (str, bool, float)
intToStr = int(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToBool,intToFloat,intToStr, sep=" ")
#3. bool ke (str, int, float)
boolToStr = int(age)
boolToInt = float(age)
boolToFloat = bool(age)
print(boolToStr,boolToInt,boolToFloat, sep=" ")

#4. float ke (str, bool, int)
floatToStr = int(age)
floatToInt = float(age)
floatToBool = bool(age)
print(boolToStr,boolToInt,boolToFloat, sep=" ")

True 123123123.0 123123123
True 19.0 19
19 19.0 True
19 19.0 True

In [6]:
desimal = 6900 
biner = 0b1110 #14
octal = 0o223 #147
hexa = 0xff #255

print("Nilai decimal:", desimal)
print("Nilai Biner:", biner)
print("Nilai octal:", octal)
print("Nilai hexa:", hexa)

print("Nilai biner dari",desimal,":", bin(desimal))
print("Nilai octal dari",desimal,":", oct(desimal))
print("Nilai hexa dari",desimal,":", hex(desimal))

#tipe ke hexa
print("Nilai decimal dari",hexa,":", hexa)
print("Nilai octal dari",hexa,":", oct(hexa))
print("Nilai biner dari",hexa,":", bin(hexa))

Nilai decimal: 6900
Nilai Biner: 14
Nilai octal: 147
Nilai hexa: 255
Nilai biner dari 6900 : 0b1101011110100
Nilai octal dari 6900 : 0o15364
Nilai hexa dari 6900 : 0x1af4
Nilai decimal dari 255 : 255
Nilai octal dari 255 : 0o377
Nilai biner dari 255 : 0b11111111

In [7]:
city = "Nganjuk"
length=len(city)
print(city[0])
print(length)
print(city[length-2])

N
7
u

In [8]:
#tipe data collection

cities = ["Malang","Jakarta","Depok"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0]="Bandung"
print(cities)

names=("Kermit","Yuuna","Dio","Trinnon")
print(names)
print(names[2])

studentData = {
    "name" : "Yuuna",
    "address" : {
        "street":"Ciaul",
        "number": 69,
        "province":"Jawa Barat"
    },
    "age" : 20,
    "isMrried" : False,
    "hobbies": ["Anime", "Drawing"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList=[
    {
    "name" : "Yuuna",
    "address" : {
        "street":"Ciaul",
        "number": 69,
        "province":"Jawa Barat"
    },
    "age" : 20,
    "isMrried" : False,
    "hobbies": ["Anime", "Drawing"]
    },
    {
    "name" : "Dio",
    "address" : {
        "street":"Cisarua",
        "number": 79,
        "province":"Jawa Barat"
    },
    "age" : 18,
    "isMrried" : False,
    "hobbies": ["Coding", "Wota"]
    },

]
print(studentList[0]["address"])
print(studentList[1])

['Malang', 'Jakarta', 'Depok']
Malang
Depok
D
k
['Bandung', 'Jakarta', 'Depok']
('Kermit', 'Yuuna', 'Dio', 'Trinnon')
Dio
{'name': 'Yuuna', 'address': {'street': 'Ciaul', 'number': 69, 'province': 'Jawa Barat'}, 'age': 20, 'isMrried': False, 'hobbies': ['Anime', 'Drawing']}
20
Jawa Barat
Anime
{'street': 'Ciaul', 'number': 69, 'province': 'Jawa Barat'}
{'name': 'Dio', 'address': {'street': 'Cisarua', 'number': 79, 'province': 'Jawa Barat'}, 'age': 18, 'isMrried': False, 'hobbies': ['Coding', 'Wota']}

In [9]:
#konversi dictionary

list_list = [["name","Kermit"],["Age",50],["status",True]]
dictListStudent=dict(list_list)
print(dictListStudent)

list_tuple=[("name","Trinnon"),("Age",200),("status",False)]
dictTupleStudent=dict(list_tuple)
print(dictTupleStudent)

Tuple_list=[["name","Seguni"],["type","Ikan Nus"]]
dictTupleAnimal=dict(Tuple_list)
print(dictTupleAnimal)


keys=["Anime","Studio","Eps"]
value=["Shang-rila Frontier","C2C", 25]
car=dict(zip(keys,value))
print(car)

{'name': 'Kermit', 'Age': 50, 'status': True}
{'name': 'Trinnon', 'Age': 200, 'status': False}
{'name': 'Seguni', 'type': 'Ikan Nus'}
{'Anime': 'Shang-rila Frontier', 'Studio': 'C2C', 'Eps': 25}