In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(42)

# Jumlah data
n = 1000

data = {
    "age": np.random.randint(18, 65, size=n),
    "salary": np.random.normal(50000, 15000, size=n).astype(int),
    "education_level": np.random.choice(["SMA", "D3", "S1", "S2", "S3"], size=n),
    "years_experience": np.random.randint(0, 40, size=n),
    "gender": np.random.choice(["Pria", "Wanita"], size=n),
    "married": np.random.choice(["Ya", "Tidak"], size=n),
    "owns_car": np.random.choice(["Ya", "Tidak"], size=n),
    "credit_score": np.random.randint(300, 850, size=n),
    "spending_score": np.random.randint(1, 100, size=n),
    "purchased": np.random.choice([0, 1], size=n),  # 0: tidak beli, 1: beli
}

# Buat DataFrame
df = pd.DataFrame(data)

# Analisis statistik sederhana
stats = df.describe(include='all')

df.head(), stats

(   age  salary education_level  years_experience  gender married owns_car  \
 0   56   65094              D3                33    Pria      Ya       Ya
 1   46   41346              S3                14    Pria   Tidak       Ya
 2   32   62535              S2                31  Wanita      Ya       Ya
 3   60   33054              D3                20  Wanita   Tidak    Tidak
 4   25   57947              S2                 4  Wanita   Tidak       Ya

    credit_score  spending_score  purchased
 0           843              53          0
 1           324              84          1
 2           356              31          1
 3           479              69          0
 4           531              88          0  ,
                 age        salary education_level  years_experience  gender  \
 count   1000.000000   1000.000000            1000       1000.000000    1000
 unique          NaN           NaN               5               NaN       2
 top             NaN           NaN              S2               NaN  Wanita
 freq            NaN           NaN             219               NaN     506
 mean      40.986000  51237.562000             NaN         19.506000     NaN
 std       13.497852  14948.592962             NaN         11.461734     NaN
 min       18.000000   6556.000000             NaN          0.000000     NaN
 25%       29.000000  41386.750000             NaN         10.000000     NaN
 50%       42.000000  51146.000000             NaN         19.000000     NaN
 75%       52.000000  60716.500000             NaN         29.000000     NaN
 max       64.000000  89485.000000             NaN         39.000000     NaN

        married owns_car  credit_score  spending_score    purchased
 count     1000     1000   1000.000000     1000.000000  1000.000000
 unique       2        2           NaN             NaN          NaN
 top         Ya    Tidak           NaN             NaN          NaN
 freq       511      520           NaN             NaN          NaN
 mean       NaN      NaN    573.224000       50.386000     0.501000
 std        NaN      NaN    160.486553       28.957582     0.500249
 min        NaN      NaN    300.000000        1.000000     0.000000
 25%        NaN      NaN    432.000000       24.000000     0.000000
 50%        NaN      NaN    566.500000       50.000000     1.000000
 75%        NaN      NaN    711.000000       76.000000     1.000000
 max        NaN      NaN    849.000000       99.000000     1.000000  )